<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjAgX1oqIJNS5o3cjoDLHKI6bc910B6T4</string>
	<key>GCM_SENDER_ID</key>
	<string>290000045685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wealth.guard.app</string>
	<key>PROJECT_ID</key>
	<string>wealth-guard-fa252</string>
	<key>STORAGE_BUCKET</key>
	<string>wealth-guard-fa252.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290000045685:ios:314b16d316c2fe96d6da3c</string>
</dict>
</plist>